@use '../base/variables' as v;
@use '../base/mixins' as m;

.testimonial-general{
    text-align: center;
    background-image: url('../../src/img/imagen-fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0;
}

.testimonial-general h2{
    color: v.$blanco;
}
.testimonial-general h3{
    text-align: left;
}

.shadow-effect {
    background: #fff;
    padding: 1rem ; // Incrementa el espacio interno
    border-radius: 8px; // Aumenta el redondeo
    text-align: center;
    border: 1px solid #ECECEC;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15), 0 20px 15px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-around;
    gap: 6rem;
}

#customers-testimonials .shadow-effect p {
    font-family: inherit;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 20px 17px 0;
    font-weight: 300;
    text-align: left;
}

.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: v.$azul;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: v.$blanco;
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
}

#customers-testimonials .item {
    text-align: center;
    margin-bottom: 80px;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}

.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    margin: 0 auto 17px;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: v.$azul;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#customers-testimonials.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: v.$azul;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
}